* {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  box-sizing: border-box;
}

.container {
  margin: 0 80px;
}
.container2 {
  padding: 10px 50px;
}
body {
  background-color: #f3f3f3ff;
}
@media screen and (max-width: 500px) {
  .container {
    margin: 0;
  }
  .container3 {
    padding: 8px !important;
  }
  .container2 {
    padding: 0;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
