@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  box-sizing: border-box;
}

.container {
  padding: 0 45px;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  /* gap: 20px; */
}
.container2 {
  padding: 10px 50px;
}
body {
  background-color: #f3f3f3ff;
  /* background-color: red; */
}
@media screen and (max-width: 500px) {
  .container {
    margin: 0;
    gap: 0 !important;
  }
  .flash-news-2 {
    margin-top: 0 !important;
  }
  .container3 {
    padding: 8px !important;
  }
  .container2 {
    padding: 0;
  }
}
